.title {
color: #fcfcfc;
font-weight:700;
font-size: 7rem;
/* margin: 0 30rem; */

display: inline;
animation: fadeIn 6s linear infinite;
position: absolute; 
right: 15%;
bottom : 45%;

/* right: 10rem; */
}

.panhama {
    white-space: nowrap;
    color: #526b69;
    font-weight:700;
    font-size: 7rem;
    animation: updown 3s linear infinite;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    display: inline-block;
    position: absolute; 
    top: 40%;
    left: 1%;
} 
.Title-no {
    color: #000000;
    font-weight:700;
    font-size: 7rem;
    margin: 0;
    display: inline;
    animation: fadeIn2 6s infinite backwards;
    opacity: 60%;
    position: absolute;
    right: 14%;
    bottom: 25%;
}   
@keyframes updown {
      0% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(20px);
      }
      100% {
          transform: translateY(-20px);
      }
  }

@keyframes fadeIn {
    0% {
        opacity: 0; transform: translateY(-100px) skewY(5deg) skewX(5deg) rotateZ(15deg);filter: blur(10px); 
    }
    25% {
        opacity: 1; transform: translateY(0) skewY(0deg) skewX(0deg) rotateZ(0deg);filter: blur(0px);
    }
    75% {
        opacity: 1;transform: translateY(0) skewY(0deg) skewX(0deg) rotateZ(0deg);filter: blur(0px); 
    }
    100%{
        opacity: 0;transform: translateY(-100px) skewY(5deg) skewX(5deg) rotateZ(15deg);filter: blur(10px); 
    }
    
}
@keyframes fadeIn2 {
    0% {
        opacity: 0; transform: translateY(-10px) skewY(0deg) skewX(0deg) rotateZ(0deg);filter: blur(100px); 
    }
    25% {
        opacity: 1; transform: translateY(0) skewY(0deg) skewX(0deg) rotateZ(0deg);filter: blur(0px);
    }
    75% {
        opacity: 1;transform: translateY(0) skewY(0deg) skewX(0deg) rotateZ(0deg);filter: blur(0px); 
    }
    100%{
        opacity: 0;transform: translateY(-10px) skewY(0deg) skewX(0deg) rotateZ(0deg);filter: blur(10px); 
    }
    
}



@media screen and (max-width: 600px) {
    .panhama {
      margin: auto;
      padding-top: 30rem;
      font-size: 4rem;
    }
    .title {
      margin: auto;
      padding-top: 30rem;
      font-size: 4rem;
    }
  }