.ContactMe {

    background-image:  radial-gradient(#ffd300 0.9500000000000001px, transparent 0.9500000000000001px), radial-gradient(#ffd300 0.9500000000000001px, #ffffff 0.9500000000000001px);
    background-size: 34px 34px;
    background-position: 0 0,17px 17px;
  }

