html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

@font-face {
  font-family: ROCKET WILDNESS;
  src: url("../src/assets/rocket_wildness/ROCKET WILDNESS.ttf") format("opentype");
}
@font-face {
  font-family: TESLA;
  src: url( "../src/assets/tesla/TESLA.ttf") format("opentype");
}
@font-face {
  font-family: "DM Sans";
  src: url( "../src/assets/dmsans/DMSans-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "DM Sans";
  src: url( "../src/assets/dmsans/DMSans-Medium.ttf") format("opentype");
  font-weight: 500;
}
p{
  font-family: "DM Sans";
  font-size: large;
}
.banner {
  margin: 0 0 0 0;
  background: url('./assets/img/background.jpg')repeat fixed ;
  /* background: linear-gradient(to bottom, rgba(126, 103, 55, 0.5), rgba(255, 255, 255, 0) 10%, transparent 10%), url('./assets/img/background.jpg')repeat fixed ; */
  height: 100vh;
  width: 100%;
  display: inline-flex;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  }
  /* linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
  url('images/background.jpg'); */
.card-test{
    position: absolute;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: rgb(255 255 255 / 20%) 0px 0px 0px 0.5px inset;
    height: 350px;
    width: 250px;
    backdrop-filter: blur(5px);
  }
  .card-test:hover{
    box-shadow: 5px 5px 30px rgba(0,0,0,0.4);
    transform: scale(1.2);
    transition: all 0.5s ease;
  }
  
  .tilt {
    transform-style: preserve-3d;
    /* transform: perspective(1011px); */
  }
